rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // For this prototype MVP, we allow open access to storage paths
    // as the app uses a custom authentication system instead of Firebase Auth.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}