
* {
  position: relative;
  box-sizing: border-box;
}

.diwali-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Russo One", arial, sans-serif;
    line-height: 1.25;
    letter-spacing: 0.06em;
    pointer-events: none;
    z-index: 9998; /* Below sidebar/header */
}

.canvas-container {
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
  pointer-events: all;
}

.canvas-container canvas {
  position: absolute;
  mix-blend-mode: lighten;
  transform: translateZ(0);
}

.happy-diwali {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none; 
    z-index: 9999;
}

@media (min-width: 768px) {
    .happy-diwali {
        display: block; 
    }
}


.happy-diwali h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: 'Lobster', cursive;
    color: #ff9800;
    text-shadow: 1px 1px 2px #fff, 0 0 1em #ffc107, 0 0 0.2em #ffc107;
}

.diwali-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10000;
  pointer-events: all;
}
