.diwali-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Russo One", arial, sans-serif;
  line-height: 1.25;
  letter-spacing: 0.06em;
  pointer-events: none;
  z-index: 9998;
}

.canvas-container {
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
  pointer-events: all;
  background-color: transparent;
}

.canvas-container canvas {
  position: absolute;
  mix-blend-mode: lighten;
  transform: translateZ(0);
}

.happy-diwali {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none; 
    z-index: 9999;
}

@media (min-width: 768px) {
    .happy-diwali {
        display: block; 
    }
}


.happy-diwali h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: 'Lobster', cursive;
    color: #ff9800;
    text-shadow: 1px 1px 2px #fff, 0 0 1em #ffc107, 0 0 0.2em #ffc107;
}

.diya-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.diya {
    position: relative;
    width: 50px;
    height: 25px;
    background: #ffc107;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.diya::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    background: #f57c00;
    border-radius: 50%;
}

.flame {
    position: absolute;
    bottom: 18px;
    left: 50%;
    width: 12px;
    height: 24px;
    background: #ffeb3b;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: translateX(-50%) rotate(-45deg);
    animation: flicker 1s infinite alternate;
}

@keyframes flicker {
    0% {
        transform: translateX(-50%) rotate(-43deg) scaleY(1);
        opacity: 0.9;
    }
    50% {
        transform: translateX(-51%) rotate(-45deg) scaleY(1.05);
        opacity: 1;
    }
    100% {
        transform: translateX(-49%) rotate(-47deg) scaleY(0.95);
        opacity: 0.95;
    }
}
